section.newsletter {
    background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
    padding: 5em 0;
    color: #fff;
}

.join {
    background-color: #3671E9;
    background-image: url("/img/vector.svg"), url("/img/vector1.svg");
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 16px;
    padding: 4em;
}

.join input {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background-color: transparent;
    color: #fff;
    padding: .5em 0;
    width: 145px;
}

.join input::placeholder {
    color: #fff;
    font-size: 16px;
}

.join h2 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
}

.join p {
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 28px;
    max-width: 348px;
    padding-top: 2em;
}

.join button {
    margin-left: 3em;
}

@media (max-width: 1102px) {
    .join {
        padding: 2em;
    }

    .join form {
        padding: 2em 0;
    }

    .join button {
        margin: 0;
    }
}