* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #0D0D2B;
    color: #fff;
}

.container {
    max-width: 80em;
    width: 80%;
    margin: auto;
}

ul {
    list-style: none;
}

p {
    color: #e0e0e0;
    line-height: 28px;
    letter-spacing: 0.01em;
}

a {
    color: #fff;
    text-decoration: none;
}

button {
    padding: 16px 24px 16px 24px;
    border: 0;
    cursor: pointer;
    outline: none;
    font-weight: 500;
}

.btn {
    background-color: transparent;
}

.primary-btn {
    display: inline-flex;
    align-items: center;
    border-radius: 32px;
    background-color: #3671E9;
    color: #fff;
}

.primary-btn img {
    padding-left: 1em;
}

.secondary-btn {
    background-color: #fff;
    color: #000;
    border-radius: 32px;
}

.metrics .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0;
}

.metric {
    display: flex;
    align-items: center;
}

.metric img {
    margin-right: 1em;
}

.metric h2 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
}