nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
}

.nav-list {
    padding-right: 1.5em;
}

.nav-list > li:hover {
    cursor: pointer;
    border-bottom: 1px solid #3671E9;
}

.nav-items,
.nav-list {
    display: flex;
    align-items: center;
}

.nav-items > *,
.nav-list > * {
    margin-left: 2em;
}

.center-border {
    margin: 0 1em;
    border-right: 2px solid rgb(242, 242, 242, 0.3);
}

.hamburger-btn {
    border: 0;
    background: transparent;
    color: #fff;
    font-size: 32px;
    display: none;
}

.nav-menu {
    position: fixed;
    background-color: #252540;
    color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    font-size: 20px;
    display: none;
    overflow-x: hidden;
    transition: all 0.4s ease-in-out;
}

.nav-menu .nav-list {
    display: block;
    text-align: center;
    padding-bottom: 2em;
}

.nav-menu .nav-list > * {
    padding: 1em 0;
}

.nav-menu .nav-list > *:hover {
    color: #3671E9;
    border: 0;
}

.nav-menu .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: transparent;
    font-size: 32px;
}

@media (max-width: 1165px) {
    .hamburger-btn {
        display: block;
    }

    .nav-items {
        display: none;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}